@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.bgCnt {
  background-color: #e5e5e5;
}

.bgDiv {
  background-color: white;
}

.title {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.semi {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.normal {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.price {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.mini {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #6e7191;
}

.btnPayment {
  height: 56px;
  width: 85%;
}

.btnPaymentSelect {
  background-color: rgba(244, 183, 64, 0.8) !important;
}

@media (max-width: 991.98px) {
  .down {
    margin-top: -1050px;
    position: relative;
  }
  .down1 {
    margin-top: 600px;
    position: relative;
  }
  .btPrevious {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .btPay {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .btPrevious {
    width: 300px;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .btPay {
    width: 300px;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

.btPrevious {
  border-color: #5f2eea;
  color: #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  font-weight: bold;
}

.btPay {
  background-color: #5f2eea;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  font-weight: bold;
}

.btPay:hover {
  background-color: #5f2eea;
}

.btPrevious:hover {
  background-color: #5f2eea;
}

.warning {
  background-color: rgba(244, 183, 64, 0.3);
}
